<nav>
    <div class="row-custom">
        <img src="assets/images/restaurant-logo-white.png" alt="logo-white" class="logo">
        <ul class="main-nav">
            <li><a href="#a">Home</a></li>
            <li><a href=""  ng-click='changeLocation(makeRes,anchor1)'>Make a reservation</a></li>
            <li><a href=""  ng-click='changeLocation(checkStatus,anchor1)'>Check reservation</a></li>
            <li><a href="#a">Contact us</a></li>
        </ul>
    </div>
</nav>
<div class="header-text-box">
    <h1>{{restaurantName}} <br>{{slogan}}</h1>
    <br>
    <a href="#a" class="button button-full">Reserve a Table</a>
    <a href="#a" class="button button-ghost">Have Reservation</a>
</div>